.container{
    margin-top: 10rem;
    display: grid;
    gap: 1rem;
}

.form-group{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.left-label{
    width: 8rem;
}

.required-input{
    border: 1px solid #d33232 !important;
}

.select-type{
    display: flex !important; 
    align-items: center !important;
}